.tabs-section {
	position: sticky;
	top: -30px;
	padding-top: 1.4rem;
	border-bottom: 1px solid var(--gray-color-300);
	z-index: 20;
}

.tabs-grid {
	background: var(--primary-color);
}

.tabs-grid > div {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.tabs-grid-item {
	display: none;
}

.tabs-container {
	grid-column: 1 / -1;
	overflow: scroll;
}

.tabs {
	display: flex;
	list-style-type: none;
}

.tabs * {
	color: var(--gray-color-100);
	fill: var(--gray-color-200);
}

.tabs li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-right: 1rem;
	padding: 1rem 0.5rem;
	border-bottom: 2px solid transparent;
	font-size: 0.875rem;
	cursor: not-allowed;
}

.tabs li:nth-of-type(2) {
	border-bottom: 2px solid var(--orange-color);
	cursor: pointer;
	font-weight: 600;
}

.tabs li *:not(:first-of-type) {
	margin-left: 0.5rem;
}

.tabs li svg {
	vertical-align: middle;
}

.tabs .count {
	display: inline-block;
	background: var(--gray-color-300);
	border-radius: 1.5rem;
	font-size: 0.75rem;
	padding: 0.1rem 0.5rem;
}

.details-repos {
	margin-top: 1rem;
}

.details-repos > div {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.repo-container {
	grid-column: 1 / -1;
	/* margin: 4rem; */
}

.repo-container > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.repo-container > div > * {
	margin: 0.3rem 0px;
}

.filter-buttons {
	display: flex;
	order: 1;
}

.filter-buttons button:not(:last-of-type) {
	cursor: not-allowed;
}

.repo-container button svg {
	margin-right: 0.2rem;
}

.repo-container .dropdown-caret {
	margin-left: 0.3rem;
	border-top-color: var(--gray-color-100);
}

.repo-container button:not(:last-of-type) {
	margin-right: 0.3rem;
}

.sort-button {
	position: relative;
}

.sort-dropDown {
	position: absolute;
	z-index: 30;
	background: var(--secondary-color);
	border: 1px solid var(--gray-color-300);
	border-radius: 5px;
	color: var(--gray-color-100);
	width: 18.5625rem;
	top: 38px;
	right: -3px;
	font-size: 0.75rem;
}

.sort-dropDown > div {
	position: relative;
	padding: 0.6rem 1rem;
	text-align: left;
	font-weight: 600;
}

.sort-dropDown > div span {
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.sort-dropDown ul {
	list-style-type: none;
}

.sort-dropDown li {
	position: relative;
	border-top: 1px solid var(--gray-color-300);
	padding: 0.6rem 2.2rem;
	text-align: left;
}

.sort-dropDown li svg {
	position: absolute;
	left: 0.9rem;
	margin-right: 0.4rem;
	vertical-align: text-top;
}

.sort-dropDown li:hover {
	background: var(--gray-color-400);
}

.new-button {
	width: 100%;
}

.input {
	order: 1;
	position: relative;
	background: var(--primary-color);
	border: 1px solid var(--gray-color-300);
	border-radius: 5px;
	padding: 0.2rem 0.6rem;
	width: 100%;
}

.dropdown-caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	content: "";
	border-style: solid;
	border-width: 0.25rem 0.25rem 0;
	border-top-color: var(--white-color);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

.input input {
	width: 90%;
	border: none;
	background: none;
	outline: none;
	color: var(--white-color);
	font-size: 0.875rem;
}

.input input::placeholder {
	color: var(--gray-color-200);
}

.repo-list {
	margin-top: 0.7rem;
}

.repo-list ul {
	list-style: none;
	display: block;
	width: 100%;
}

.repo-list li {
	display: block;
	border-top: 1px solid var(--gray-color-300);
}

.repo-list li:last-of-type {
	border-bottom: 1px solid var(--gray-color-300);
}

/* media queries */

/* tablets */
@media (min-width: 768px) {
	.tabs-grid-item {
		display: block;
	}

	.tabs-container {
		grid-column: 4 / -1;
		overflow-x: hidden;
	}

	.repo-container {
		grid-column: 2 / -1;
	}

	.tabs {
		display: flex;
		list-style-type: none;
		padding: 0px 3rem;
	}

	.tabs li:nth-of-type(4),
	.tabs li:nth-of-type(5) {
		display: none;
	}

	.details-repos > div {
		column-gap: 1.5rem;
	}

	.input {
		width: 78%;
		order: 0;
	}

	.new-button {
		width: auto;
	}
}

/* desktops and larger screens */
@media (min-width: 1200px) {
	.tabs li:nth-of-type(4),
	.tabs li:nth-of-type(5) {
		display: block;
	}

	.input {
		width: 58%;
	}

	.new-button {
		width: auto;
		order: 1;
	}
}
